
* {
margin: 0;

}
body{

    font-family: 'Roboto', sans-serif;
}

h1{

font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    color: white;
}

p{

    font-size:18px;
    font-weight: 400;
    line-height: 27px;
    color: #8794BA;

}
.container1{


    height: 800px;
    width: 100%;

    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 0 100%);

    margin-bottom: -10vw;
    background: url("img/Subtract.png") left top no-repeat, url("img/Subtract2.png") right no-repeat,  #172755;

}
.diagonalbar{
    width: 100%;
    height: 20px;
    background: #EF2A82;
    transform: skewY(-5.6deg);
    transform-origin: right;
}


.container2{
height: 800px;
    background: #E5E5E5;

    width: 100%;
    clip-path: polygon(0 calc(0% + 10vw), 100% 0, 100% calc(100% - 10vw), 0 100%);
    margin-bottom: -10vw;
    margin-top: -0.2vw;






}

.container3{

height: 700px;

    width: 100%;
    background: #172755;

}

header{

    margin: 0px 80px;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}

nav ul{

    display: flex;
    justify-content: space-between;
}
nav li{

    list-style: none;
    font-size: 16px;
    margin-left: 20px;
    color: #8794BA;

}

button{
    font-family: 'Roboto', sans-serif;
    all: unset;
    color:  #8794BA;
    margin-left: 20px;
    padding: 10px 40px;

}
button:hover{


    border: solid 1px #8794BA;
    border-radius: 20px;

}

.subcont1{
    margin: 100px 80px;
    width: 50%;
}
.pinkbutton{
    margin-top: 40px;
    font-size: 16px;
    background-color: #EF2A82;
    padding: 10px 60px;
    border-radius: 60px;
    color: white;
    font-weight: 400;
}
#menu__toggle {
    opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
    right: 0 !important;
}
.menu__btn {
    position: fixed;
    top: 70px;
    right: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #8794BA;
    transition-duration: .25s;
}
.menu__btn > span::before {
    content: '';
    top: -8px;
}
.menu__btn > span::after {
    content: '';
    top: 8px;
}
.menu__box {
    display: block;
    position: fixed;
    top: 0;
right: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
}
.menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
}
.menu__item:hover {
    background-color: #CFD8DC;
}


.hamburger-menu{

    display: none;
}










@media(max-width: 768px) {


    .hamburger-menu{


        display: inline-block;


    }
    nav{
        display: none;
    }
    .signup{
        display: none;
    }
 header{

     margin: 0px 15px;

 }
 .signin{

     margin-left: 0px;
     padding: 10px 20px;
 }


    .menu__btn {
        position: fixed;
        top: 56px;
        right: 26px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
    }

    h1{

        font-size: 31px;
        line-height: 35px;
        margin-bottom: 25px;

    }

    .subcont1 {
        margin: 50px 0px;
        width: 100%;
    }
    .pinkbutton{
        padding: 10px 100px;
        margin-left: 0;


    }

    .Titlebox1{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .Titlebox1 p{

        margin: 0 10px;
    }
}