body{

    font-family: 'Roboto', sans-serif;
}

.container1{


    height: 800px;
    width: 100%;
    background: #172755;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 0 100%);

    margin-bottom: -10vw;

}
.diagonalbar{
    width: 100%;
    height: 20px;
    background: #EF2A82;
    transform: skewY(-5.6deg);
    transform-origin: right;
}


.container2{
height: 800px;
    background: #E5E5E5;

    width: 100%;
    clip-path: polygon(0 calc(0% + 10vw), 100% 0, 100% calc(100% - 10vw), 0 100%);
    margin-bottom: -10vw;
    margin-top: -0.2vw;






}

.container3{

height: 700px;

    width: 100%;
    background: #172755;

}

header{

    margin: 0px 80px;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}

nav ul{

    display: flex;
    justify-content: space-between;
}
nav li{

    list-style: none;
    font-size: 16px;
    margin-left: 20px;
    color: #8794BA;

}

button{
    font-family: 'Roboto', sans-serif;
    all: unset;
    color:  #8794BA;
    margin-left: 20px;
    padding: 10px 40px;

}
button:hover{


    border: solid 1px #8794BA;
    border-radius: 20px;

}



